<section class="padding bck theme">
  <div class="row">
    <div class="column_9">
      <article class="row">
        <div class="column_12 margin-bottom">
          <h2  class="text bold color light">Celia Mimms DDS</a></h2>
            <h5>Restorative, cosmetic and orthodontic treatments in a comfortable setting for the family!</h5>
    </div>

        <div class="column_12">
          <h6 class="text bold color light">Background</h6>
        </div>
            <p class="column_7 align text justify" style="float:left;">
              Dr. Celia Mimms is a general dentist practicing in the city of Chicago. She received both her Bachelors of Science (B.S.) in Industrial Engineering and Doctor of Dental Surgery (D.D.S.) from the University of Iowa.  Over the past two years, Dr. Mimms has presented on the links between oral health and systemic diseases including diabetes and lupus. <br /> As well as her private practice duties, Dr. Mimms enjoys volunteering at Community Health (a free medical/dental clinic) and playing tennis. She is an active member of the American Dental Association, Academy of General Dentists, Illinois Dental Society and Chicago Dental Society.
            </p>
                   
        <div class="column_5 margin-bottom"><%= image_tag('dr_mimms.jpg', :style => "width:460px; height:328px;", :class => "responsive align center") %></div>
          <div class="column_12">
            <h6 class="text bold color light">Philosophy of Care</h6>
          </div>
              <p class="column_12 align text justify" style="float:right;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error?

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error?
              </p>
      </article>   
    </div>
  </div>
</section>