<section class="padding bck theme">
  <div class="row">
    <div class="column_9">
      <article class="row">
        <div class="column_12 margin-bottom">
          <h2  class="text bold color light">Roslyn Travis-Stratton DDS</h2>

        </div>

        <div class="column_12">
        	<h6 class="text bold color light">Background</h6>
        </div>
            <p class="column_7 align text justify">
              Dr. Roslyn Travis-Stratton graduated from Marquette University School of Dentistry in 1988 and has been practicing for 25 years. She is a member of The American Dental Association and the Chicago Dental Society.
                <br><br />
              Dr. Stratton stays current with dental procedures and technology by attending and completing the required State Continuing Education training. 
              The training includes dental implants, cosmetic dentistry and Invisalign.

              She is a family Dentist who enjoys working with children. Her carrying and gentle touch has amazed many patients.  Dr. Stratton treats all of her patients like family. And like family, she wants the best for her patients. 

              
            </p>
                   
        <div class="column_5 margin-bottom"><%= image_tag('dr_stratton.jpg', :height => "auto", :width => "460px", :class => "responsive") %></div>
          <div class="column_12">
          	<h6 class="text bold color light">Philosophy of Care</h6>
          </div>
              <p class="column_12 align text justify">
                For over 10 years Dr. Stratton continues to give back to her community by volunteering dental services to her church and community.  <bold>She stresses to the community the importance of understanding oral health care because your oral health can affect the rest of your body such as your heart, kidney, and even pregnancy.</bold>

                Dr Stratton has  received awards from TopDoc and is a recognized provider on Angie's List with an "A" list rating and ranking.
              </p>
      </article>   
    </div>
  </div>
</section>