<section class="padding bck theme">
  <div class="row">
    <div class="column_9">
      <article class="row">
        <div class="column_12 margin-bottom">
          <h2 style="float:right;" class="text bold color light">Kenneth E. Brooks II DDS</a></h2>
            <h5 style="float:right;" >Restorative, cosmetic and orthodontic treatments in a comfortable setting for the family!</h5>
    </div> 

        <div class="column_12">
          <h6 class="text bold color light">Background</h6>
        </div>
            <p class="column_7 align text justify" style="float:right;">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus!
                <br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error 
            </p>
                   
        <div class="column_5 img h256 margin-bottom" style="float:right;"></div>
          <div class="column_12">
            <h6 class="text bold color light">Philosophy of Care</h6>
          </div>
              <p class="column_12 align text justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error?

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error?
              </p>
      </article>   
    </div>
  </div>
</section>