<section class="padding bck theme">
  <div class="row">
    <div class="column_9">
      <article class="row">
        <div class="column_12 margin-bottom">
          <h2  class="text bold color light">Elvina McHenry RDH</h2>
        </div>

        <div class="column_12">
          <h6 class="text bold color light">Background</h6>
        </div>
            <p class="column_7 align text justify">
              Elvina McHenry received her Associates degree in March 2000 in Applied Science from Kennedy King College where she also graduated as a Dental Hygienist with honors. Elvina decided to become a dental hygienist after previously working as a dental assistant at a few Chicago area dental offices. She realized how rewarding it is to help her patients reach optimal oral hygiene and health.
            </p>
                   
        <div class="column_5 margin-bottom"><%#= image_tag('elvina.jpg', :height => "auto", :width => "460px", :class => "responsive") %></div>
          <div class="column_12">
            <h6 class="text bold color light">Philosophy of Care</h6>
          </div>
              <p class="column_12 align text justify">
                During her downtime she enjoys working with a pioneering mobile dental care company that serves the underprivileged children in the Chicago school system. Elvina enjoys educating her patients on the importance of good oral hygiene and the relationship it has to the rest of the body. During the course of 13 years working with Dr. Stratton, she has built a quality reputation with her patients.

              </p>
      </article>   
    </div>
  </div>
</section>