<% set_meta_tags :site => 'My Dentist and Associates', :title => 'About' %>
<% set_meta_tags :description => "Our Dental team members include Dr. Roslyn Travis-Stratton, Dr. Kenneth Brooks, Dr. Celia Mimms, and Elvina Johnson-McHenry" %>
<!-- Intro to About Us page -->
<section class="padding bck color">
  <div class="row ">
    <div class="column_10 offset_1 text center book margin-bottom">
      <h1 class="color theme page-header">About Us</h1>
        <br>
          <p> 
            <h3 class="page-header">"Our professional staff takes pride in creating an environment that is both family friendly and comfortable."</h3>
          </p>
    </div>
  </div>
</section>




<%= render 'dr_stratton' %>

<%= render 'dr_brooks' %>

<%= render 'dr_mimms' %>

<%= render 'elvina_mchenry' %>


<!-- Office Staff -->

<section class= "padding bck color">
  <div class="row">
		<h1 class="text bold align center">Office Staff</h1>
      <div class="column_4 text align center">
				<h3 class="text align center color white padding-bottom">Kelli Keith <br /> Office Manager</h6>
					<div class="img margin-bottom"></div>
						<p class="text bold margin-top margin-bottom"></p>
      </div>
      <div class="column_4 text align center">
				<h3 class="text align center color white padding-bottom">Terri Hester <br /> Receptionist</h6>
          <div class="img margin-bottom"></div>
					
						<p class="text bold margin-top margin-bottom"></p>
      </div>
      <div class="column_4 text align center">
        <h3 class="text align center color white padding-bottom">Sandra Venegas <br /> Dental Assistant</h6>
          <div class="img margin-bottom"></div>
          
            <p class="text bold margin-top padding"></p>
      </div>

      <div class="column_4 text align center">
        <h3 class="text align center color white padding-bottom">Rania Njiemoun <br /> Dental Assistant</h6>
          <div class="img margin-bottom"></div>
          <p class"text bold margin-top padding"></p>
      </div>

      <div class="column_4 text align center">
        <h3 class="text align center color white padding-bottom">Martin Stratton Jr. <br /> Business Manager</h6>
          <div class="img margin-bottom"></div>
          <p class"text bold margin-top padding"></p>
      </div>
      
</section>


