<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
  $(document).ready(function() {
  	function initialize() {
    var myLatlng = new google.maps.LatLng(41.595080,-87.561924);
    var myLatlng2 = new google.maps.LatLng(41.345757,-88.841013);
    var mapOptions = {
      zoom: 8,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: 'Calumet City Office'
    });

    var marker2 = new google.maps.Marker({
    	position: myLatlng2,
    	map: map,
    	title: 'Ottawa Office'
    })
  }

  google.maps.event.addDomListener(window, 'load', initialize);
  });
</script>

<style type="text/css">
	section#practice-location, #map-canvas{
		height:350px;
	}

</style>

<section id="practice-location" class="padding-top margin-bottom padding-bottom">
	<div class="row">
    <div id="map-canvas"></div>
  </div>
</section>
<section class="padding-top" style="line-height:2em;">
	<div class="row">
		<div class="column_6 text align center">
		<h2 class="line-height:1em;">Calumet City</h2>
		<p class="location-text">
1473 Ring Rd. <br />Calumet City, IL 60409<br />
Phone: 708.862.8156<br />
Fax: 708.862.8105</p></div>
		<div class="column_6">
		<h2 class="line-height:1em;">Ottawa</h2>
		<p class="location-text">
110 E Main Street, Suite 226<br /> Ottawa, IL 61350<br />
Phone: 815.434.0228</p></div>
	</div>
</section>
<div class="row padding-bottom margin-bottom">
  <h2 class="text center" style="line-height:2em;">Get in contact with us today!</h2>
  <div class="row"><%= render 'contact_messages/form' %></div>
</div>
