<% set_meta_tags :site => 'My Dentist and Associates', :title => 'Contact' %>
<% set_meta_tags :description => "My Dentist and Associates is located at 2555 W. 79th Street in Chicago, IL. Get in contact with us today." %>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
  $(document).ready(function() {
  	function initialize() {
    var myLatlng = new google.maps.LatLng(41.749761,-87.687384);
    var mapOptions = {
      zoom: 12,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: 'My Dentist Chicago Office'
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
  });
</script>

<style type="text/css">
	section#practice-location, #map-canvas{
		height:350px;
	}

</style>

<section id="practice-location" class="padding-top margin-bottom padding-bottom">
	<div class="row">
    <div id="map-canvas"></div>
  </div>
</section>
<section class="padding-top" style="line-height:2em;">
  <div class="row">
    <div class="column_12 text align center">
    <p class="location-text">
2555 W. 79th Street<br /> Chicago, IL 60652<br />
Phone: 773.434.1515</p></div>
  </div>
</section>
<div class="row padding-bottom margin-bottom">
  <h2 class="text center" style="line-height:2em;">Get in contact with us today!</h2>
  <div class="row"><%= render 'contact_messages/form' %></div>
</div>
