<% set_meta_tags :site => 'My Dentist and Associates', :title => 'Cosmetic Dentistry' %>
<% set_meta_tags :description => "We offer cosmetic dental services such as teeth whitening, porcelain veneers, invisible braces, and hygiene care. We want you to smile confidently" %>
<section class="padding bck dark">
        <div class="row ">
            <div class="column_10 offset_1 text center book margin-bottom">
                <h1 class="color theme page-header">Cosmetic Dentistry</h1>
                <br>
                    <p> 
                        <h3 class="page-header" style="font-style:italic;">
                            Make a great first impression with a healthy smile.
                        </h3>
                    </p>
             </div>
        </div>
</section>



<section class="padding bck theme">
        <div class="row">
        <div class="column_12">
                    <div class=" margin-bottom">
                        <h2 class="text bold color light">Cosmetic Treatments &amp; Procedures</h2>
                    </div>
                            <p class="margin-bottom">
                                Are you interested in bringing out the best in your smile? We can help! In today's world, we understand how important a healthy bright smile can be. At My Dentist, we create customized treatment plans to allow our patients to smile more confidently. With our cosmetic treatment plans we like to focus on making sure your hygiene is excellent first; you'll be in good hands with our hygienist. 
                                <br />
                                <br />
                                Next, we'll provide several options for you ranging from teeth whitening to braces. Check out our main tier options below.
                            </p> 

                            
                            <p class="margin-bottom">
                                <h4 class="margin-top">Hygiene Care</h4>
                                    Seeing our hygienist will make tackling the rest of your oral needs easy for us. Maintaining good oral hygiene is one of the most important things you can do for your teeth and gums. Healthy teeth not only enable you to look and feel good, they make it possible to eat and speak properly.
                            </p> 

                            <p class="margin-bottom">
                                <h4 class="margin-top">Porcelain Veneers</h4>
                                    Dental veneers (sometimes called porcelain veneers or dental porcelain laminates) are wafer-thin, custom-made shells of tooth-colored materials designed to cover the front surface of teeth to improve your appearance. These shells are bonded to the front of the teeth changing their color, shape, size, or length.
                                    <br />
                                    <br />
                                    Dental veneers can be made from porcelain or from resin composite materials. Porcelain veneers resist stains better than resin veneers and better mimic the light reflecting properties of natural teeth. Resin veneers are thinner and require removal of less of the tooth surface before placement. You will need to discuss the best choice of veneer material for you with your dentist.
                            </p>   
                            
                            <p class="margin-bottom">
                                <h4>Teeth Whitening</h4>
                                    Many teeth whitening systems and products are available, including whitening toothpastes,  strips, trays, and whitening products obtained from our dentist.
                                    <br />
                                    <br />
                                    Teeth whitening is ideal for people who have healthy, unrestored teeth (no fillings) and gums. Individuals with yellow tones to their teeth respond best to our treatment. But this cosmetic procedure is not recommended for everyone.
                                    <br />
                                    <br />
                                    Find out if teeth whitening is right for you.
                            </p> 
                            <p class="margin-bottom">
                                <h4>Invisible Braces</h4>
                                    We encourage our patients to work towards a smile they can be produc of. At My Dentist we offer more than one choice of invisible braces company. All you'll need to do is come in for impressions, x-rays, and photos of your teeth. We'll have you working towards your smile makeover in no time!
                            </p> 

        </div>
        </div>
</section>





       


    