
<section class="padding bck dark">
        <div class="row ">
            <div class="column_10 offset_1 text center book margin-bottom">
                <h1 class="color theme">Drug Treatment</h1>
                <br>
                    <p> 
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum nisl sit amet ante placerat adipiscing.
                        </h3>
                    </p>
             </div>
        </div>
</section>



<section class="padding bck theme">
        <div class="row">
                    <div class="column_12 margin-bottom">
                        <h2 class="text bold color light">Program Overview</a></h2>
                    </div>
        </div>
</section>



    <section class= "padding bck color">
        <div class="row">
            <div class="column_12">
                <h2 class="text bold margin-bottom"> Suboxone </h2>
            </div>
          </div>
    </section>  


     <section class="padding bck theme">
        <div class="row">
            <div class="column_12 ">
                <h1 class="text bold align center margin-bottom"> Methadone </h1>
            </div>
        </div>
    </section>  


    <section class="padding bck color">
        <div class="row">
            <div class="column_4 offset_4 text align center">
                <h1 class="text bold margin-bottom"> FAQ </h1>
        </div>
    </section>  