<% set_meta_tags :site => 'My Dentist and Associates', :title => 'Full Treatment' %>
<section class="padding bck dark">
        <div class="row ">
            <div class="column_10 offset_1 text center book margin-bottom">
                <h1 class="color theme page-header">Treatment Plans</h1>
                <br>
                    <p> 
                        <h3 class="page-header">Plans for your smile, plans for your life. 
                        </h3>
                    </p>
             </div>
        </div>
</section>



<section class="padding bck theme">
        <div class="row">
                    <div class="column_12 margin-bottom">
                        <h2 class="text bold color light">Make a great first impression with a smile!</h2>
                    </div>
                        <p class="column_12 margin-bottom">
                            Phasellus turpis ipsum, pretium sit amet luctus non, volutpat quis nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin consectetur mauris ac diam aliquet malesuada. Nam vel faucibus ligula, ut accumsan felis. Donec porttitor magna semper, tempor eros ut, tincidunt mi. Duis ultricies rhoncus neque, a blandit massa egestas in. Donec convallis enim et dui ornare, ac fringilla lacus facilisis. In commodo blandit lectus quis pellentesque. Sed ligula dolor, ullamcorper eu aliquam eget, ultricies ullamcorper lectus.
                        </p>  
                        <p class="column_12 margin-bottom">
                            Nunc eros urna, viverra a ipsum id, commodo semper lorem. Nulla facilisi. Nullam id suscipit sem, a dapibus libero. Ut eget commodo metus, ac adipiscing arcu. Ut bibendum pellentesque tristique. Suspendisse at tellus ac dolor pretium blandit non a quam. Donec nec orci sed turpis iaculis luctus vitae mattis dui.
                        </p>  
                        <p class="column_12 margin-bottom">
                            Quisque sed purus ultricies dui cursus consequat vel consequat ligula. Etiam quis ante ac risus volutpat imperdiet. Aliquam blandit lacus eu rutrum vestibulum. Quisque porta egestas elit, in eleifend leo. Ut eu pharetra libero. Vestibulum mi nibh, consequat at purus non, congue facilisis lacus. Duis fermentum, nisl vitae malesuada placerat, ante augue congue libero, et pulvinar nunc risus quis tortor.
                        </p>  
        </div>
</section>



    <section class= "padding bck color">
        <div class="row">
            <div class="column_12">
                <h2 class="text bold margin-bottom"> What to Expect </h2>
                    <p class="column_12 align text left">
                        <h4 class="text bold margin-top margin-bottom"> Initial Visit</h4>
                            Quisque sed purus ultricies dui cursus consequat vel consequat ligula. Etiam quis ante ac risus volutpat imperdiet. Aliquam blandit lacus eu rutrum vestibulum. Quisque porta egestas elit, in eleifend leo. Ut eu pharetra libero. Vestibulum mi nibh, consequat at purus non, congue facilisis lacus. Duis fermentum, nisl vitae malesuada placerat, ante augue congue libero, et pulvinar nunc risus quis tortor.
                        <h4 class="text bold margin-top margin-bottom"> Follow-Up Visits</h4>
                            <h5> Treatment Phase</h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                            <h5 class="margin-top"> Maintenance Phase </h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                     </p>
            </div>
          </div>
    </section>  


     <section class="padding bck theme">
        <div class="row">
            <div class="column_12 ">
                <h1 class="text bold align center margin-bottom"> FAQ </h1>
                    <p class="column_12 align text left">
                        <h5 class="text bold margin-bottom">How can I join the program?</h5>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                        <h5 class="text bold margin-top margin-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                        <h5 class="text bold margin-top margin-bottom">Can I continue to see my regular physician or healthcare provider?</h5>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                        <h5 class="text bold margin-top margin-bottom">Can I continue to take my other medications?</h5>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                        <h5 class="text bold margin-top margin-bottom">How much does your program cost?</h5>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                        <h5 class="text bold margin-top margin-bottom">Does insurance cover your program?</h5>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                        <h5 class="text bold margin-top margin-bottom">What type of insurance do you accept?</h5>
                            We accept PPO, Medicare and self pay. We do not accept Medicaid or HMO.
                        <h5 class="text bold margin-top margin-bottom">How is your bariatric program different from what is offered by my regular physician?</h5>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                        <h5 class="text bold margin-top margin-bottom">How much weight can I expect to lose in the first month?</h5>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                        <h5 class="text bold margin-top margin-bottom">Do you use recommend meal replacements or low calorie diets?</h5>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                        <h5 class="text bold margin-top margin-bottom">I have tried a low fat diet but I am unable to lose weight. Why is that so?</h5>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                        <h5 class="text bold margin-top margin-bottom">Do you use Phentermine and is it safe?</h5>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                        <h5 class="text bold margin-top margin-bottom">Can I become addicted to the weight loss pills?</h5>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                        <h5 class="text bold margin-top margin-bottom">Can I use diet bills if I have a medical problem like diabetes, hypertension or high cholesterol?</h5>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                        <h5 class="text bold margin-top margin-bottom">I have depression. Can I still join your program?</h5>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                       <h5 class="text bold margin-top margin-bottom">How much weight do I need to lose to reduce my health risk?</h5>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.


            </div>
        </div>
    </section>  


              
      