<% set_meta_tags :site => 'My Dentist and Associates', :title => 'Full Treatment' %>
<section class="padding bck dark">
        <div class="row ">
            <div class="column_10 offset_1 text center book margin-bottom">
                <h1 class="color theme page-header">Oral Procedures &amp; Treatments at My Dentists</h1>
                <br>
                    <p> 
                        <h3 class="page-header" style="font-style:italic;">Plans for your smile, plans for your life. 
                        </h3>
                    </p>
             </div>
        </div>
</section>



<section class="padding bck theme">
  <div class="row">
    
    <p class="column_12 margin-bottom">
        <h2 class="text bold">Fillings</h2>
        A filling is a way to restore a tooth damaged by decay back to its normal function and shape. When a dentist gives you a filling, he or she first removes the decayed tooth material, cleans the affected area, and then fills the cleaned out cavity with a filling material.
    </p>  

    <p class="column_12 margin-bottom">
    <!-- <div class="column_5 img h256 margin-bottom"></div> -->
        <h2 class="text bold">Root Canals</h2>
        Root canal treatment is the removal of the tooth's pulp, a small, thread-like tissue in the center of the tooth. Once the damaged, diseased or dead pulp is removed, the remaining space is cleaned, shaped and filled. This procedure seals off the root canal. Years ago, teeth with diseased or injured pulps were removed. Today, root canal treatment saves many teeth that would otherwise be lost.
        <br />
        <br />
        <span style="font-style:italic;">All root canals are completed in one visit*</span>

    </p>  
    <p class="column_12 margin-bottom">
        <h2 class="text bold">Crowns &amp; Bridges</h2>
        Both crowns and most bridges are fixed prosthetic devices. Unlike removable devices such as dentures, which you can take out and clean daily, crowns and bridges are cemented onto existing teeth or implants, and can only be removed by a dentist.
        <br />
        <br />

        A crown is used to entirely cover or "cap" a damaged tooth. Besides strengthening a damaged tooth, a crown can be used to improve its appearance, shape or alignment. A crown can also be placed on top of an implant to provide a tooth-like shape and structure for function. Porcelain or ceramic crowns can be matched to the color of your natural teeth. Other materials include gold and metal alloys, acrylic and ceramic. These alloys are generally stronger than porcelain and may be recommended for back teeth. Porcelain bonded to a metal shell is often used because it is both strong and attractive.
    </p> 
    <p class="column_12 margin-bottom">
        <h2 class="text bold">Dentures &amp; Implants</h2>
        Dental implants are metal posts or frames that are surgically positioned into the jawbone beneath your gums. Once in place, they allow your dentist to mount replacement teeth onto them.
        <br />
        <br />
        Implants are devices that replace the roots of missing teeth. They are used to support crowns, bridges or dentures. Implants are surgically placed in your jawbone. Most of the time, implants feel more natural and secure than other methods of replacing missing teeth, such as dentures.
    </p> 
    <p class="column_12 margin-bottom">
        <h2 class="text bold">Tooth Removal &amp; Extractions</h2>
        Tooth extraction is the removal of a tooth from its socket in the bone.<br /><br />
        Many dentists recommend extracting impacted teeth that are only partially erupted. Bacteria can enter around a partially erupted tooth and cause an infection, which can extend into the surrounding bone and become extremely serious. Impacted teeth continue trying to break through the gum tissue even if there is not enough room to accommodate them. The continued pressure caused by this attempted eruption can eventually damage the roots of nearby teeth. Removing a tooth that is impacted can often prevent infection, damage to adjacent teeth and bone, and save pain in the years to come.
    </p>   
    <p class="column_12 margin-bottom">
        <h2 class="text bold">Sealants</h2>
        Dental sealants are plastic coatings that are usually placed on the chewing (occlusal) surface of the permanent back teeth — the molars and premolars — to help protect them from decay.
    </p>
  </div>
</section>

 


 


              
      