<script type="text/javascript"
        src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js">
</script>
<script type="text/javascript"
        src="/assets/jquery.jcarousel.js">
</script>

<link rel="stylesheet" type="text/css" href="/assets/skin.css" />

<script type="text/javascript">

jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel();
});

</script>

<h1> WebsitePages#home </h1>
<p>Find me in app/views/website_pages/home.html.erb</p>



<ul id="mycarousel" class="jcarousel-skin-tango">
    <li><img src="assets/img1_thumb.jpg" width="75" height="75" alt="" /></li>
    <li><img src="assets/img2_thumb.jpg" width="75" height="75" alt="" /></li>
    <li><img src="assets/img3_thumb.jpg" width="75" height="75" alt="" /></li>
    <li><img src="assets/img4_thumb.jpg" width="75" height="75" alt="" /></li>
    <li><img src="assets/img5_thumb.jpg" width="75" height="75" alt="" /></li>
    <li><img src="assets/img6_thumb.jpg" width="75" height="75" alt="" /></li>
  </ul>

<!-- Controls -->
    <!-- <a class="jcarousel-prev" href="#">Prev</a> -->
    <!-- <a class="jcarousel-next" href="#">Next</a> -->
<!-- </div> -->

<!-- Pagination -->
    <!-- <div class="jcarousel-pagination"> -->
        <!-- Pagination items will be generated in here -->
    <!-- </div> -->
<!-- </div> -->



