

<!-- <div class="carousel" data-transition="slide"> -->
    <!-- <div> -->
       <!-- <img src="http://static.flickr.com/66/199481236_dc98b5abb3_s.jpg" width="75" height="75" alt="" /> -->
    <!-- </div> -->
    <!-- <div> -->
        <!-- <img src="http://static.flickr.com/70/229228324_08223b70fa_s.jpg" width="75" height="75" alt="" /> -->
    <!-- </div> -->
<!-- </div> -->


<section class="padding bck theme features">
        <div class="row text center book">
            <div class="column_10 offset_1">
                <h1 class="color default">Welcome to Great Heights Family Medicine</h1>
                <h3>
                    <strong>Not Lorem ipsum dolor </strong> lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum nisl sit amet ante placerat adipiscing. 
                </h3>
            </div>
        </div>

        <div class="row text center normal margin-top">
        	 <div class="column_4">
            	<%= link_to  website_pages_weight_loss_path do %>
	                <h1 class="icon food"></h1>
	                <h4 class="text color white">Weight Loss</h4>
                <% end %>
		                <p class="text normal">Ultrices vitae semper at, bibendum non ipsum. Quisque neque enim, vestibulum id convallis ac, semper blandit neque.</p>
            </div>

            <div class="column_4">
                <%= link_to  website_pages_drug_treatment_path do %>
                	<h1 class="icon group"></h1>
                	<h4 class="text color white">Drug Treatment</h4>
            	<% end %>
		                <p class="text normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum nisl sit amet ante placerat adipiscing.</p>
            </div>

            <div class="column_4">
            	<%= link_to  website_pages_immigration_physicals_path do %>
	                <h1 class="icon flag"></h1>
	                <h4 class="text color white">Immigration Physicials</h4>
                <% end %>
		                <p class="text normal">The purpose is to encourage code reuse plus faster and more efficient stylesheets that are easier to add to and maintain.</p>
            </div>
            <!-- <div class="column_3">
                <h1 class="icon github text color default"></h1>
                <h4 class="text color white">Community Project</h4>
                <p class="text normal">Each new line of code is welcomed, I hope that developers and restless minds help me improve this humble project day by day.</p>
            </div> -->
        </div>
    </section>


    <section class="padding bck dark">
        <div class="row text center book margin-bottom">
            <div class="column_10 offset_1">
                <h1 class="color theme">Located in Calumet City & Ottawa, IL</h1>
                <h3> Yorem ipsum dolor sit amet  <span class="text normal color white">placerat adipiscing. </span>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="offset_2 column_4">
                <a href="tel:5551234567" class="button large anchor " id="telephone-button"><span class="icon phone"></span>Give us a call at 
                	<p>(708) 862-8156 </p></a>
            </div>

            <!-- Create feedbck form -->

            <div class="column_4">
                <a href="<%= website_pages_contact_path %>" class="button large anchor secondary" id="inbox-button"><span class="icon envelope"></span>Send us an inbox message</a>
            </div>
        </div>
    </section>


<!-- <section></section>
	<div class="row"></div>

<section></section>
	<div class="row"></div>


<section></section>
	<div class="row"></div> -->
