
<section class="padding bck dark">
        <div class="row ">
            <div class="column_10 offset_1 text center book margin-bottom">
                <h1 class="color theme margin-bottom">Immigration Physicals</h1>
                    <p> 
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum nisl sit amet ante placerat adipiscing.</h3>
                    </p>
             </div>
        </div>
</section>



<section class="padding bck theme">
        <div class="row">
            <div class="column_9">
                    <div class="column_12 margin-bottom">
                        <h2 class="text bold color light">Immigration Contd.</h2>
                    </div>
                    <div class="column_12">
                        <h4 class="text bold color light margin-top margin-bottom">Background</h4>
                    </div>
                        <p class="column_12 margin-bottom">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus!
                        </p>
                        <p class="column_12 margin-bottom"> 
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error 
                        </p>
                   
                    
                    <div class="column_12">
                        <h4 class="text bold color light margin-top margin-bottom">What to Expect</h4>
                    </div>
                        <p class="column_12 align text justify">

                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error?
                    </p>
                        <p class="column_12">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error?
                    </p>
            </div>
        </div>
    </section>



    <section class= "padding bck color">
        <div class="row">
            
            <div class="column_6 offset_3 align center">
                <h1 class="text bold margin-bottom" id="office-staff">FAQ</h1>
        </div>
    </section>