<% set_meta_tags :site => 'My Dentist and Associates', :title => 'Oral Care' %>
<% set_meta_tags :description => "Our oral treatment plans will put you on track for a healthy oral rating." %>
<section class="padding bck dark">
        <div class="row">
            <div class="column_10 offset_1 text center book margin-bottom">
                <h1 class="color theme margin-bottom page-header">Family Oral Care</h1>
                    <p> 
                        <h3 class="page-header" style="font-style:italic;">Dental care for the whole family.</h3>
                    </p>
             </div>
        </div>
</section>



<section class="padding bck theme">
        <div class="row">
            <div class="column_9">
                    <div class="column_12 margin-bottom">
                        <h2 class="text bold color light">Family Care Practices</h2>
                        <%= image_tag('happy-black-family-2-stretched.jpg', :width => "100%") %>
                    </div>
                    <div class="column_12">
                        <h4 class="text bold color light margin-top margin-bottom">Toddler - Pre-Teen</h4>
                    </div>
                        <p class="column_12 margin-bottom">
                            Your child should see a dentist by the time he or she is a year old, according to the American Academy of Pediatrics and the American Academy of Pediatric Dentistry.

                            Getting preventive care early saves money in the long run, according to a report published by the CDC. The report found that costs for dental care were nearly 40% lower over a five-year period for children who got dental care by age one compared to those who didn't go to the dentist until later.
                        </p><br />
                        <p class="column_12 margin-bottom"> 
                            My Dentists &amp; Associates understands the importance of providing a comfortable environment for your young loved ones. If your child needs special care, we'll use our network to get you in contact with a dentist specializing in pediatric care.
                        </p>
                   
                    
                    <div class="column_12">
                        <h4 class="text bold color light margin-top margin-bottom">Teen - Young Adult</h4>
                    </div>
                        <p class="column_12 margin-bottom align text justify">

                           Maintaining healthy teeth and making healthy choices 
                            can help protect your teen’s smile for a lifetime. This 
                            is a great time to re-emphasize the importance of good 
                            dental habits and discuss factors that can impact their 
                            oral health.
                    </p><br />
                        <p class="column_12 margin-bottom ">
                            Stressing the importance of oral care during these years is of utmost importance. We can provide a plan for these years to prepare for a lifetime of healthy oral care.
                    </p>

                    <div class="column_12 ">
                        <h4 class="text bold color light margin-top margin-bottom">Adult - Senior</h4>
                    </div>
                        <p class="column_12 margin-bottom align text justify">

                            The key to keeping a bright, healthy smile throughout adulthood is to practice proper oral hygiene. Even adults can get cavities, as well as gum disease, that can lead to serious problems. Throughout your adult life, it's important to continue to follow country wide guidelines in regards to mainitaining oral health.
                    </p><br />
                        <p class="column_12 margin-bottom ">
                            At My Dentists, many adults and seniors are interested in maintaining their oral health. Not only do we provide a comprehensive treatment plan specialized for you, but we take pride in providing a comfortable, stressless environment.
                    </p>
            </div>
        </div>
    </section>
