
<section class="padding bck dark">
        <div class="row ">
            <div class="column_10 offset_1 text center book margin-bottom">
                <h1 class="color theme">Weight Loss</h1>
                <br>
                    <p> 
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum nisl sit amet ante placerat adipiscing.
                        </h3>
                    </p>
             </div>
        </div>
</section>



<section class="padding bck theme">
        <div class="row">
                    <div class="column_12 margin-bottom">
                        <h2 class="text bold color light">The Fatoki Protocol: It's All About The 1/3</h2>
                    </div>
                        <p class="column_12 margin-bottom">
                            Phasellus turpis ipsum, pretium sit amet luctus non, volutpat quis nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin consectetur mauris ac diam aliquet malesuada. Nam vel faucibus ligula, ut accumsan felis. Donec porttitor magna semper, tempor eros ut, tincidunt mi. Duis ultricies rhoncus neque, a blandit massa egestas in. Donec convallis enim et dui ornare, ac fringilla lacus facilisis. In commodo blandit lectus quis pellentesque. Sed ligula dolor, ullamcorper eu aliquam eget, ultricies ullamcorper lectus.
                        </p>  
                        <p class="column_12 margin-bottom">
                            Nunc eros urna, viverra a ipsum id, commodo semper lorem. Nulla facilisi. Nullam id suscipit sem, a dapibus libero. Ut eget commodo metus, ac adipiscing arcu. Ut bibendum pellentesque tristique. Suspendisse at tellus ac dolor pretium blandit non a quam. Donec nec orci sed turpis iaculis luctus vitae mattis dui.
                        </p>  
                        <p class="column_12 margin-bottom">
                            Quisque sed purus ultricies dui cursus consequat vel consequat ligula. Etiam quis ante ac risus volutpat imperdiet. Aliquam blandit lacus eu rutrum vestibulum. Quisque porta egestas elit, in eleifend leo. Ut eu pharetra libero. Vestibulum mi nibh, consequat at purus non, congue facilisis lacus. Duis fermentum, nisl vitae malesuada placerat, ante augue congue libero, et pulvinar nunc risus quis tortor.
                        </p>  
        </div>
</section>



    <section class= "padding bck color">
        <div class="row">
            <div class="column_12">
                <h2 class="text bold margin-bottom"> What to Expect </h2>
                    <p class="column_12 align text left">
                        <h4 class="text bold margin-top margin-bottom"> Initial Visit</h4>
                            Quisque sed purus ultricies dui cursus consequat vel consequat ligula. Etiam quis ante ac risus volutpat imperdiet. Aliquam blandit lacus eu rutrum vestibulum. Quisque porta egestas elit, in eleifend leo. Ut eu pharetra libero. Vestibulum mi nibh, consequat at purus non, congue facilisis lacus. Duis fermentum, nisl vitae malesuada placerat, ante augue congue libero, et pulvinar nunc risus quis tortor.
                        <h4 class="text bold margin-top margin-bottom"> Follow-Up Visits</h4>
                            <h5> Weight Loss Phase</h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                            <h5 class="margin-top"> Maintenance Phase </h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex blanditiis voluptas voluptatum quod. Accusantium, molestiae impedit aliquam architecto velit ipsam laudantium nulla incidunt est praesentium optio eius error! Corporis, possimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, dolorum, placeat, nobis molestiae eum dolor incidunt id nesciunt quas porro quaerat laboriosam assumenda voluptate ipsam cupiditate nam rem obcaecati error.
                     </p>
            </div>
          </div>
    </section>  


     <section class="padding bck theme">
        <div class="row">
            <div class="column_12 ">
                <h1 class="text bold align center margin-bottom"> FAQ </h1>
                    <p class="column_12 align text left">
                        <h5 class="text bold margin-bottom">How can I join the program?</h5>
                            Call or send an e mail to the location that is convenient for you. You can fill out the contact form on line and someone will contact you to schedule an appointment by the next business day or the time you specify.
                        <h5 class="text bold margin-top margin-bottom">Why should I join your program?</h5>
                            My program is proven. It has worked for me and many other patients. It is based on scientifically proven methods and the latest medical information from obesity research. I am a Family physician who is a member of the ASBP (*link to ASBP.org*). I follow the Bariatric guidelines and attend regularly sponsored activities by the ASBP. Your weight loss is supervised by a qualified physician who can assess all your medical issues.
                        <h5 class="text bold margin-top margin-bottom">Can I continue to see my regular physician or healthcare provider?</h5>
                            Yes. In fact, I encourage it. I will see you as a weight loss specialist. I function as a consult like a cardiologist, etc. I will address issues you may have that relate to obesity and its co-morbidities. You need to see your regular physician for your routine health maintenance and management of other chronic illnesses for which you are being treated. I will communicate with your referring physician regularly so they know what recommendations and medications I recommend.
                        <h5 class="text bold margin-top margin-bottom">Can I continue to take my other medications?</h5>
                            I will review any other medications and check for interactions with any medications that I prescribe. I look at your “whole medical picture” before devising a treatment plan for you.
                        <h5 class="text bold margin-top margin-bottom">How much does your program cost?</h5>
                            The fee is affordable but varies. I try to work with you to make the program available to as many people as possible. You can obtain your diagnostic tests from your primary care provider and bring them in.
                        <h5 class="text bold margin-top margin-bottom">Does insurance cover your program?</h5>
                            In some cases, yes. If you have medical problems related to your obesity which I am managing, the cost may be covered by your insurance. We will bill the insurance for you but you are still responsible for the cost of the treatment if it s not covered by your insurance. If you have no met your deductible, you will be expected to pay for the visit at the time you are seen.
                        <h5 class="text bold margin-top margin-bottom">What type of insurance do you accept?</h5>
                            We accept PPO, Medicare and self pay. We do not accept Medicaid or HMO.
                        <h5 class="text bold margin-top margin-bottom">How is your bariatric program different from what is offered by my regular physician?</h5>
                            I have obtained extensive training in obesity and its related disorders meaning I am better qualified to treat obesity just like a cardiologist is better qualified to treat heart disease in some cases. I treat patients who have been unsuccessful in the treatment recommended by their primary care provider. I also serve as a consultant to physicians who need someone with more experience to manage their patients with obesity related disorders.
                        <h5 class="text bold margin-top margin-bottom">How much weight can I expect to lose in the first month?</h5>
                            Most of my patients lose an average of 5 pounds or more within the first 2-4 weeks if they follow the program. Depending on what combination of medications and supplements you are on along with exercise and your eating habits, you may lose significantly more. The weight loss is probably less than you would get with a fad diet because my goal is a gradual and steady weight loss which you can maintain without feeling deprived.
                        <h5 class="text bold margin-top margin-bottom">Do you use recommend meal replacements or low calorie diets?</h5>
                            I generally don’t but if that is what works for you, I will work with it. From my experience, I have found that those are difficult to maintain. No one is going to eat protein bars or milk shakes as a meal for the rest of their life. My philosophy is to get you used to making better food choices from what is available in your local grocery store. Moreover, many of those bars, shakes and packaged foods are not as healthy as you may think.
                        <h5 class="text bold margin-top margin-bottom">I have tried a low fat diet but I am unable to lose weight. Why is that so?</h5>
                           I could not lose or maintain weight loss on a low fat diet either. That is why I became a bariatrician to explore alternatives. As a bariatrician, I am better able to help you because of my training and the many resources available to me.
                        <h5 class="text bold margin-top margin-bottom">Do you use Phentermine and is it safe?</h5>
                            Yes. I use Phentermine and it is safe. The problem with “Fen-Phen” was with Fenfluramine, another drug that was combined with Phentermine. Fenfluramine was taken off the market but Phentermine has always been available. It has been available since the 1950s and is the most cost effective medication available for weight management. It needs to be prescribed and managed by a Bariatician who is adequately trained to manage the disease of obesity.
                        <h5 class="text bold margin-top margin-bottom">Can I become addicted to the weight loss pills?</h5>
                           The probability of psychological dependence is low when anorectics are used in medical weight reduction and maintenance programs appropriately supervised by bariatricians. (ASBP, anorectic usage guidelines.)
                        <h5 class="text bold margin-top margin-bottom">Can I use diet bills if I have a medical problem like diabetes, hypertension or high cholesterol?</h5>
                            Certain medical problems often associated with obesity such as diabetes, hypertension and most serum lipid abnormalities usually respond favorably to weight loss. The anorectics (weight loss medications) may be useful in helping patients with these conditions achieve meaningful weight loss. As noted by Albert Stunkard, M.D., Professor of Psychiatry, University of Pennsylvania, “There are strong positive indications for the long term use of appetite suppressants. Many obese, hypertensive and diabetic patients can control their conditions by weight loss. Unfortunately, however, many of them cannot lose weight by diet alone. As a result, they are forced to rely on long term use of medication to control their hypertension, diabetes, and other conditions. If these patients must receive long term medication, they may well be better off on appetite suppressants than on the usual remedies.” (ASBP, anorectic usage guidelines.)
                        <h5 class="text bold margin-top margin-bottom">I have depression. Can I still join your program?</h5>
                           The obese patient may be prone to depression. In such cases the anorectics may be helpful in the patient’s weight loss program, which in turn may help with the depressive state. Patients with significant depressive symptoms should be considered for antidepressant therapy. (ASBP, anorectic usage guidelines.)
                       <h5 class="text bold margin-top margin-bottom">How much weight do I need to lose to reduce my health risk?</h5>
                           The evidence is increasingly strong that significant health benefits may occur with a 5-10% weight loss that is maintained. In addition, helping patients avoid the tendency to gradually increase weight while getting older may, in and of itself, be a significant health benefit. Also, even a modest weight loss is frequently associated with an increased sense of self worth. (ASBP, anorectic usage guidelines.)


            </div>
        </div>
    </section>  


    <section class="padding bck color">
        <div class="row">
            <div class="column_4 offset_4 text align center">
                <h1 class="text bold margin-bottom"> Weight Loss Tools </h1>
                    <ul class="square">
                        <li>Cras mattis consectetur purus sit amet fermentum.</li>
                            <br>
                        <li>Donec ullamcorper nulla non metus auctor fringilla.</li>
                            <br>
                        <li>Aenean eu leo quam.</li>
                            <br>
                        <li>Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
                            <br>
                        <li>Nullam quis risus eget urna mollis ornare vel eu leo.</li>
                            <br>
                        <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
                            <br>
                    </ul>
            </div>
        </div>
    </section>  

              
      