


      <!-- TukTuk Footer -->
      <footer class="bck theme padding">
        <div class="row margin-top margin-bottom">
          <div class="column_6">
            <p class="text bold big"> Interested in making an appointment or have any additional questions?</p>
              <br>
               Give us a call at <a href="tel:8154340228"> <span class="text normal">(815) 434-0228 </span></a><span class="icon phone"></span>
            </div>
          <div class="column_6">
            <div class="text right margin-top">
              <p class="text bold big">Want to learn more about our <a href="<%= about_path %>" >practice?</a></p>
                <br>
                <span class="icon pencil"></span>
                Check out Dr. Fatoki's <a href="https://nofatmd.com" target="_blank" class="text underline color theme">blog</a>.  
            </div>
          </div>
        </div>
      </footer>

   