


      <!-- TukTuk Footer -->
      <footer class="bck theme padding">
        <div class="row margin-top margin-bottom">
          <div class="column_6">
            <p class="text bold big"> Interested in making an appointment or have any additional questions?</p>
              <br>
               <h5>Give our <strong>Chicago</strong> office a call at <br /><a href="tel:7734341515"> <span class="text" style="color:black;">(312) 434-1515 </span></a><span class="icon-phone"></span></h5>
            </div>
          <div class="column_6">
            <div class="text right">
                <form action="http://maps.google.com/maps" method="get" target="_blank"><br />
                <input type="hidden" name="daddr" value="2555 W 79th Street, Chicago IL" />
                <button type="submit" class="button large anchor" style="font-size:1.250em; line-height:0.5em;" />Get Directions</button>
                </form>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
        <div class="text align center">
            <h2>Like what we're doing? Write a review today.</h2>
             <%= link_to image_tag('angies-list.png'), "http://www.angieslist.com/AngiesList/Review/1446238", :target => "_blank" %>
             <%= link_to image_tag('yelp-badge.png', :style => "padding-bottom:16px;"), "https://www.yelp.com/writeareview/biz/yXyrXUijGu3HSCNIDcygng?return_url=%2Fbiz%2FyXyrXUijGu3HSCNIDcygng", :target => "_blank" %>
        </div>

    </div>

      </footer>

   