
<!-- <link rel="stylesheet" href="assets/stylehseets/application.css" /> -->


      <!-- TukTuk Footer -->
      <footer class="bck dark padding">
        <div class="row margin-top margin-bottom">
          <div class="column_6">
            <p class="text bold big"> Interested in making an appointment or have any additional questions?</p>
                Give us a call at <span class="text normal">(708) 862-8156 </span>
                <span class="icon phone"></span>
          </div>

          <!-- <div class="column_4"> -->
            <!-- <p class="text bold big">Join the team!</p> -->
                <!-- Let us know how you're! <a href="mailto:hello@tapquo.com?subject=job" class="text underline color theme">Get in touch</a> -->
          <!-- </div> -->

          <div class="column_6", "text right">
            <div class="text right">
              <p class="text bold big">Want to learn more about our philosophy?</p>
                <span class="icon pencil"></span>
                Check out Dr. Fatoki's <a href="https://nofatmd.com" target="_blank" class="text underline color theme">blog</a>.
                
            </div>
          </div>
        </div>
      </footer>

    </div>
</div>