


      <!-- TukTuk Footer -->
      <footer class="bck theme padding">
        <div class="row margin-top margin-bottom">
          <div class="column_6">
            <p class="text bold big"> Interested in making an appointment or have any additional questions?</p>
              <br>
               Give our <strong>Chicago</strong> office a call at <a href="tel:7734341515"> <span class="text normal">(312) 434-1515 </span></a><span class="icon phone"></span>
            </div>
          <div class="column_6">
            <div class="text right margin-top">
                <p class="text bold big"><span class="icon road"></span> Get Directions to My Dentists & Assc.</p>
                <form action="http://maps.google.com/maps" method="get" target="_blank"><input type="text" placeholder="Enter your starting address" name="saddr" /><input type="submit" value="Get Directions" class="button secondary" id="get-directions-button" /><br />
                <input type="hidden" name="daddr" value="2555 W 79th Street, Chicago IL" /><br />
                
                </form>
            </div>
          </div>
        </div>
      </footer>

   