<div id="social-deals">
	<div class="text align center">
		<h4>Review us on <%= link_to "Yelp", "https://www.yelp.com/writeareview/biz/yXyrXUijGu3HSCNIDcygng?return_url=%2Fbiz%2FyXyrXUijGu3HSCNIDcygng", :target => "_blank", :class => "button", :style => "background-color:#CC0000" %> today.
		<%#= link_to image_tag('yelp-button.jpg'),  %>
		<i style="margin-left:20px;" class="icon-facebook medium-icon"></i>
		<i style="margin-left:10px;" class="icon-twitter medium-icon"></i></h4>
		
	</div>
</div>